<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Settings for MyFlightbook</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>keyEmail</string>
			<key>KeyboardType</key>
			<string>EmailAddress</string>
			<key>Title</key>
			<string>E-Mail Address</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<true/>
			<key>Key</key>
			<string>keyPass</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Password</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Nearest Airports</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>FalseValue</key>
			<false/>
			<key>Key</key>
			<string>keyIncludeHeliports</string>
			<key>Title</key>
			<string>Include Heliports</string>
			<key>TrueValue</key>
			<true/>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Auto-Fill Options</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Key</key>
			<string>prefKeyAutoHobbs</string>
			<key>Title</key>
			<string>Ending Hobbs</string>
			<key>Titles</key>
			<array>
				<string>Off</string>
				<string>Flight Time</string>
				<string>Engine time</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Key</key>
			<string>prefKeyAutoTotal</string>
			<key>Title</key>
			<string>Total Time</string>
			<key>Titles</key>
			<array>
				<string>Off</string>
				<string>Flight Time</string>
				<string>Engine time</string>
				<string>Hobbs Time</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>FalseValue</key>
			<false/>
			<key>Key</key>
			<string>keyRoundNearestTenth</string>
			<key>Title</key>
			<string>Use nearest tenth of an hour</string>
			<key>TrueValue</key>
			<true/>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Entering Times</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>FalseValue</key>
			<false/>
			<key>Key</key>
			<string>keyUseHHMM</string>
			<key>Title</key>
			<string>Use HH:MM</string>
			<key>TrueValue</key>
			<true/>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use Local Time</string>
			<key>Key</key>
			<string>keySuppressUTC</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Auto-detection</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Detect Flight</string>
			<key>Key</key>
			<string>keyAutoDetectTakeOffAndLanding</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>RecordFlight</string>
			<key>Key</key>
			<string>keyAutoDetectRoute</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>55</integer>
			<key>Key</key>
			<string>keyPrefTakeOffSpeed</string>
			<key>Title</key>
			<string>Takeoff Speed (Kts)</string>
			<key>Titles</key>
			<array>
				<string>20Kts</string>
				<string>40Kts</string>
				<string>55Kts</string>
				<string>70Kts</string>
				<string>85Kts</string>
				<string>100Kts</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>20</integer>
				<integer>40</integer>
				<integer>55</integer>
				<integer>70</integer>
				<integer>85</integer>
				<integer>100</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Night flight starts:</string>
			<key>Key</key>
			<string>keyNightFlightPref</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Titles</key>
			<array>
				<string>End of civil twilight</string>
				<string>Sunset</string>
				<string>15 minutes after sunset</string>
				<string>30 minutes after sunset</string>
				<string>60 minutes after sunset</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Night landings occur:</string>
			<key>Key</key>
			<string>keyNightLandingPref</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Titles</key>
			<array>
				<string>1 hour after sunset</string>
				<string>During night flight</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Mapping Options</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Mapping Options</string>
			<key>Key</key>
			<string>keyMappingMode</string>
			<key>DefaultValue</key>
			<integer>2</integer>
			<key>Titles</key>
			<array>
				<string>Mapping Standard</string>
				<string>Mapping Satellite</string>
				<string>Mapping Hybrid</string>
			</array>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
		</dict>
	</array>
</dict>
</plist>
